{
  "extends": "react-app",
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          [
            "sibling",
            "parent"
          ],
          "index"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "no-var": "error",
    "react-hooks/rules-of-hooks": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}