.header {
  background-color: #282c34;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}

::-webkit-scrollbar-track:hover {
  background: #efefef; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-container {
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-hr {
  text-align: center;
  border-bottom: 1px solid #ddd;
  line-height: 0.3em;
  margin: 10px 0 20px;
}

.chat-hr > span {
  background: #fff;
  padding: 0 6px;
  color: #bbb;
  font-size: 12px;
}

.chat-msg-layout {
  text-align: left;
  padding-top: 2px;
}

.chat-msg-layout.own {
  text-align: right;
  padding-right: 10px;
}

.chat-msg-header {
  font-size: 12px;
  color: #bbb;
}

.chat-msg {
  background-color: #f2f6f9;
  display: inline-block;
  padding: 2px 10px;
  margin-right: 10px;
  border-radius: 6px;
  text-align: left;
}

.chat-msg.own {
  background-color: #dbf4fd;
  margin-right: 0;
  margin-left: 40px;
}

.chat-msg-file {
  background-color: #f1f1f4;
  display: inline-block;
  padding: 10px;
  border-radius: 6px
}